<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Version Number" value="7.2" />
    <add key="Output Folder" value="C:\FilterOutput\RESULTS\" />
    <add key="Root Folder" value="C:\FilterOutput\" />
    <add key="SeedFile Folder" value="C:\FilterOutput\RESULTS\ADDITIONAL-FILES\SeedFilter\" />
    <add key="EcoFile Folder" value="C:\FilterOutput\EcoData" />
    <add key="StyleSheet Folder" value="C:\FilterOutput\RESULTS\ADDITIONAL-FILES\StyleSheets\" />
    <add key="Git Folder" value="C:\PROJECTS\NeverSink-Filter\" />
    <add key="Aspect Folder" value="C:\PROJECTS\Filter-ItemEconomyAspects" />
    <add key="Ninja League" value="tmpstandard" />
    <add key="Current League" value="betrayal" />
    <add key="Ninja Request URL" value="http://poe.ninja/api/Data/" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>