<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Version Number" value="4.6"/>
    <add key="Output Folder" value="C:\FilterOutput\RESULTS\"/>
    <add key="Root Folder" value="C:\FilterOutput\"/>
    <add key="SeedFile Folder" value="C:\FilterOutput\RESULTS\ADDITIONAL-FILES\SeedFilter\"/>
    <add key="StyleSheet Folder" value="C:\FilterOutput\RESULTS\ADDITIONAL-FILES\StyleSheets\"/>
    <add key="Ninja League" value="tmpstandard"/>
    <add key="Current League" value="betrayal"/>
    <add key="Ninja Request URL" value="http://poe.ninja/api/Data/"/>
  </appSettings>
</configuration>